<header class="site-header">
  <div class="header-inner">
    <a href="/" class="logo">
      <span class="logo-icon"><i class="fas fa-briefcase"></i></span>
      Md Nurul Anwar
    </a>
  </div>
</header>
