<nav class="navbar">
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/import-export">H. S. Enterprise</a></li>
    <li><a href="/tour-travel">Kurnia Holiday Travels</a></li>
  </ul>
</nav>
